#Игнорировать ВСЕ

/*

#Не игнорировать это

!/flow
!/src
!/docs
!/dist
!/test

!webpack.config.js
!webpack.test.config.js
!.babelrc
!.editorconfig
!.eslintrc
!.flowconfig
!.gitignore
!.travis.yml
!README.md
!package.json