# Ignore all

/*

#Not ignore below

!/src
!/docs
!/dist
!/test

!webpack.config.js
!webpack.demo.config.js
!webpack.test.config.js
!.babelrc
!.editorconfig
!.eslintrc
!.flowconfig
!.gitignore
!.travis.yml
!README.md
!package.json